*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body{
  width: 100%;
  min-height: 100vh;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #FDE1DE;
}

button,
a{
  all: unset;
  box-sizing: inherit;
  cursor: pointer;
}